BLAH_BLAH_CHAT_DATABASE_USERNAME=bbc
BLAH_BLAH_CHAT_DATABASE_PASSWORD=bbc_password
BLAH_BLAH_CHAT_DATABASE_PORT=5432
BLAH_BLAH_CHAT_DATABASE_HOST=postgresql
REDIS_URL=redis://redis:6379/1
SECRET_KEY_BASE=32692dfe403436086f710dae793970da
