<% if resource.errors.any? %>
  <div class="d-block error-panel rounded">
    <div class="p-2 fs-5">
      <%= pluralize(resource.errors.count, "error") %> prohibited this <%= resource.class.name %> from being saved:
    </div>

    <ul>
      <% resource.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
