<div class="container control-panel">
  <div>
    <%= link_to "Back to chats", chats_path, class:"text-decoration-none link-light" %>
  </div>
</div>
<div class="container">
  <h2>New chat</h2>
  <%= render "form", chat: @chat %>
</div>
