<!-- и обрабатываем этот html из posts_controller.js -->
<%= tag.section data: {'posts-target': 'post', controller: 'posts'} do %>
  <div class="d-flex align-items-start justify-content-start">
    <div class="fw-lighter me-2">
      <%= l(post.created_at, format: :medium) %>
    </div>
    <div>
      <%= post.body %>
    </div>
  </div>
  <hr>
<% end %>
